body {
  margin: 0;
  overflow-x: hidden;
}

#main {
  height: 100vh;
  background: rgb(5, 120, 20);
  background: linear-gradient(
    90deg,
    rgb(35, 161, 52) 0%,
    rgb(5, 74, 2) 60%
  );
}

.about {
  padding-top: 40vh;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.about p {
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 20px;
}



