body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  
}

#main {
  height: 100vh;
}
@keyframes mymove {
  from {background-color: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );}
  to {background-color: linear-gradient(to right, #ff6e7f, #bfe9ff);}
  to {background-color: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);}
}

.about {
  padding-top: 40vh;
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.about p {
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 20px;
}

#copy {
  padding-top: 5px;
}

.co {
  text-align: center;
}


