body {
  /* height: 100vh; */
  margin: 0;
  overflow-x: hidden;
}

#main {
  background-image: url(images/main.jpg);
  height: 114vh;
  background-size: cover;
}

#charac {
  padding: 20px;
  background-color: #e3f2fd;
}

.info h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
}

.card {
  margin: 0 auto !important;
  float: none !important;
  padding: 15px !important;
  margin-bottom: 20px !important;
}

.yellow {
  background-color: yellow;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}


.water{
  background-color: #6890f0;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.cyan {
  background-color: cyan;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.normal {
  background-color: rgb(255, 154, 31);
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.purple {
  background-color: #b9a6f3;

  width: 50%;
  border-radius: 5px;
  text-align: center;
}



.blue {
  background-color: #8d60f9;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

#copy {
  padding-top: 5px;
}

.co {
  text-align: center;
}

