body {
  /* height: 100vh; */
  margin: 0;
  overflow-x: hidden;
}

#main {
  background-image: url(images/main.jpg);
  height: 114vh;
  background-size: cover;
}

#charac {
  padding: 20px;
  background-color: #e3f2fd;
}

.info h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
}

.card {
  margin: 0 auto !important;
  float: none !important;
  padding: 15px !important;
  margin-bottom: 20px !important;
}

.yellow {
  background-color: yellow;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.green {
  background-color: #2ade48;
  color: #000;
  width: 50%;
  text-align: center;
  border-radius: 5px;
}

.orange {
  background-color: rgb(228, 93, 26);
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.water {
  background-color: #6890f0;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.cyan {
  background-color: cyan;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.grass {
  background-color: rgb(69, 207, 69);
  color:white;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.poison {
  background-color: purple;
  color:white;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.normal {
  background-color: rgb(255, 154, 31);
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.purple {
  background-color: #b9a6f3;

  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.purple {
  background-color: #b9a6f3;

  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.light-blue {
  background-color: lightblue;

  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.blue {
  background-color: #8d60f9;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.skyblue {
  background-color: #87CEEB;
  width: 50%;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.fighting {
  background-color: #c02038;
  width: 50%;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.rock {
  background-color: #b8a038;
  color: #fff;
  width: 50%;
  text-align: center;
  border-radius: 5px;
}

.psychic {
  background-color: #f85888;
  color: #fff;
  width: 50%;
  text-align: center;
  border-radius: 5px;
}

#copy {
  padding-top: 5px;
}

.co {
  text-align: center;
}

.Ghost {
  background-color: midnightblue;
  color: white;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.Fire {
  background-color: red;
  color: white;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.Ground{
  background-color: green;
  color: white;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.fairy{
  background-color: #EE99AC;
  color: white;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}

.golden{
  background-color: goldenrod ;
  width: 50%;
  border-radius: 5px;
  text-align: center;
  color: rgb(24, 20, 11);
  
}
.fly{
  background-color: rgb(140, 206, 214) ;
  width: 50%;
  border-radius: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  
}
