.showcase {
  width: 100%;
  height: 85vh;      
  background: url('/images/background1.png') no-repeat center center/cover;
}

.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.navbar {
  width: 100%;
  text-align: center;
  border: 2px solid black;
  background-color: black;
  z-index: 2;
}
.text {
  text-align: center;
  color: white;
}

img {
  border: 5px solid black;
}

.card-body {
  border: 2px solid black;
  border-radius: 20px;
  background-color: black;
  color: white;
}

.container {
  width: 100%;
}


